[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
giphy-client = "*"
wolframalpha = "*"
googletrans = "*"

[dev-packages]

[requires]
python_version = "3.6"
